
@model IEnumerable<MathProject.Models.Question>

@{
    ViewData["Title"] = "Category";
}
<div id="pytanka">
    <h2> Wybierz zadanie</h2>
    @*@using MathProject.Models;
    @{
        int length = Enum.GetNames(typeof(Categories)).Length;
        List<string> Kategorie = new List<string>(Enum.GetNames(typeof(Categories)));

    }
    <div>
        @foreach (var kategoria in Kategorie)
            {
            <a class="btn btn-default" asp-action="Category" asp-route-categ="@kategoria">
                @kategoria
            </a>
        }
    </div>*@
    <div>
        <a class="btn btn-default" id="back" asp-action="Index">Powrot do kategorii </a>
    </div>
    <div>
        @foreach (var item in Model)
            {
            
                <a class="btn btn-tile" asp-action="Exercise" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Content) </a>
                    @*@Html.DisplayFor(modelItem => item.Category)
                
                   
                
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)*@
               
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    <a asp-action="AddHint" asp-route-id="@item.ID">Dodaj hinty lepiej</a> |
                    <a href="/Hints/create/@item.ID">Dodaj hinty</a>
                </td>*@
            
        }

    </div>
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrectAnswer)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectAnswer)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                            <a asp-action="AddHint" asp-route-id="@item.ID">Dodaj hinty lepiej</a> |
                            <a href="/Hints/create/@item.ID">Dodaj hinty</a>
                        </td>
                </tr>
            }
        </tbody>
    </table>*@

</div>