@model MathProject.Models.Question

@{
    ViewData["Title"] = "Usuń zadanie";
}

<h2>Usuń zadanie</h2>

<h3>Czy na pewno chcesz usunąć to zadanie?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a class="btn btn-default"asp-action="ChooseToEdit">Wróć do listy</a>
    </form>
</div>
