@model MathProject.Models.Question

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły zadania</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
    </dl>
    <div>
        <h3>Podpowiedzi</h3>
        <hr/>

        <table border="1" cellspacing="10">
            <thead>
                <tr>
                    <th>Treść podpowiedzi</th>
                    <th>Odpowiedź</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var item in Model.Hints)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Content)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.CorrectAnswer)
                            </th>
                        </tr>
                    }
                
            </tbody>
        </table>
        @*<dl class="dl-horizontal">
                <dt>Treść podpowiedzi</dt>
                <dt>Odpowiedź</dt>
            @foreach (var item in Model.Hints)
            {

                    <dd>
                        @Html.DisplayFor(modelItem => item.Content)
                    </dd>
                    <dd>
                        @Html.DisplayFor(modelItem => item.CorrectAnswer)
                    </dd>


            }
        </dl>*@
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a> |
    <a class="btn btn-default" asp-action="ChooseToEdit">Wróć do listy</a>
</div>
