@model IEnumerable<MathProject.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<body>

    <h2>Zadania</h2>
    <div id="pytanka">
        @using MathProject.Models;
        @{
            int length = Enum.GetNames(typeof(Categories)).Length;
            List<string> Kategorie = new List<string>(Enum.GetNames(typeof(Categories)));

        }
        <div>
            <p>
                <a class="btn btn-tile" asp-action="Create">
                    Dodaj nowe pytanie
                </a>
            </p>
            <p>


                @foreach (var kategoria in Kategorie)
            {
                    <a class="btn btn-tile" asp-action="Category" asp-route-categ="@kategoria">
                        @kategoria
                    </a>
                }
            </p>
        </div>
        <p>


        </p>




        @foreach (var item in Model)
            {
            <ul>

                <li><a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |</li>
                <li><a asp-action = "Details" asp-route-id = "@item.ID" > Details </a > | </li>

                <li><a asp-action = "Delete" asp-route-id = "@item.ID" > Delete </a > |</li>
                <li><a asp-action = "AddHint" asp-route-id = "@item.ID" > Dodaj hinty lepiej</a > |</li>
                <li><a href="/Hints/create/@item.ID">Dodaj hinty</a></li>
            </ul>

        }

        @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CorrectAnswer)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CorrectAnswer)
                        </td>
                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                                <a asp-action="AddHint" asp-route-id="@item.ID">Dodaj hinty lepiej</a> |
                                <a href="/Hints/create/@item.ID">Dodaj hinty</a>
                            </td>*@
        @* </tr>
                    }
                </tbody>
            </table>*@
    </div>
</body>
