@model MathProject.Models.Hint

@{
    ViewData["Title"] = "Rozwiązuj zadanie z podpowiedziami";
}

<body>
    <p>
        <h3> @ViewBag.Task </h3>
    </p>
    <div>   
                <h2>Podpowiedź nr @Html.Raw(ViewBag.hintID + 1)</h2>         
     
        <div class="row">
            <div class="col-md-7">
                <form asp-action="SolveWithHints" id="question">
                    <div class="form-group">
                        <h4> @Html.DisplayFor(model => model.Content)</h4>
                    </div>
                    <div class="form-group">
                        <input asp-for="CorrectAnswer" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="check" value="Sprawdźmy" class="btn btn-default" asp-route-hintID="@ViewBag.hintID" asp-route-questionid="@Model.QuestionID"/>
                    </div>
                </form>


                <div id="checked">
                    @if (ViewBag.Result =="Wrong")
                    {
                        <p> To zła odpowiedź. spróbuj jeszcze raz.</p>
                    }
                </div>

            </div>
        </div>
        <div id="ShowingHints">



        </div>
       </div>
 
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    