@model MathProject.Models.Hint

@{
    ViewData["Title"] = "Rozwiązuj zadanie z podpowiedziami";
}

<body>
    @*Wyświetlamy wszystkie hinty, po naciśnięciu przycisku wyświetla się pierwszy hint.
        
        
    DO OGARNIĘCIA ! *@
    <p>
        <h3> @ViewBag.Task </h3>
    </p>
    <div>
        
        <p>
            @*@{ 
                List<string> listOfHints = new List<string>();
                foreach (var hint in Model)
                {
                    listOfHints = listOfHints.Append(hint.Content.ToString()).ToList();
                }

            }*@      
                <h2>Podpowiedź nr @Html.Raw(ViewBag.hintID + 1)</h2>         
        </p>

        @*@{
            IEnumerable<string> listOfHints = new List<string>();

            int i = 0;
            foreach (var hint in Model)
            {
                listOfHints = listOfHints.Append(hint.Content.ToString()).ToList();
            }
            var listOfHintss = listOfHints.ToList();
            foreach (var hint in listOfHintss)
            {
                <h3> Podpowiedź numer @(i + 1)</h3>
                <p>@hint</p>
                i++;
            }
            i = 0;
        }*@
        @*<a class="btn btn-default" id="ShowOneHint" onclick="handleClick()">Pokaż podpowiedź </a>*@
        @*<a class=" btn btn-default" asp-action=" ShowHint" asp-route-questionid =""*@
        <div class="row">
            <div class="col-md-7">
                <form asp-action="SolveWithHints" id="question">
                    <div class="form-group">
                        <h4> @Html.DisplayFor(model => model.Content)</h4>
                    </div>
                    <div class="form-group">
                        <input asp-for="CorrectAnswer" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="check" value="Sprawdźmy" class="btn btn-default" asp-route-hintID="@ViewBag.hintID" asp-route-questionid="@Model.QuestionID"/>
                    </div>
                </form>


                <div id="checked">
                    @if (ViewBag.Result =="Wrong")
                    {
                        <p> To zła odpowiedź. spróbuj jeszcze raz.</p>
                    }
                </div>

            </div>
        </div>
        <div id="ShowingHints">



        </div>
       
    </div>

    
    
        
    @*<script>

        {
            function handleClick() {
               
                if (@listOfHintss.Count>0)
                {
                    document.getElementById('ShowingHints').innerHTML = '@listOfHintss[i]';
                    @(i = i + 1)
 
                }
                    return false;
                
            }
        }
    </script>*@
        



</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    